In [5]:
import pickle
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import types
from scipy.stats import mannwhitneyu
import statsmodels.api as sm
import pylab as pl
from mpl_toolkits.mplot3d import Axes3D
from sklearn.decomposition import PCA
from decimal import *
getcontext().prec = 30
import math

In [6]:
with open("/home/allan/Desktop/enron_fraud_detection/final_project_dataset.pkl","r") as f:
    data_dict = pickle.load(f)
data_dict.pop('TOTAL')
data_dict.pop('THE TRAVEL AGENCY IN THE PARK')

column_names =["name"]+[category for category in data_dict.values()[0].keys()]
enron = pd.DataFrame(columns=column_names)

i=0
for name,values in data_dict.items():
    datum_list={'name':name}
    for key,value in values.items():
        if value=="NaN":
            datum_list[key]=np.nan
        elif not isinstance(value,basestring):
            datum_list[key]=float(value)
        else:
            datum_list[key]=value
    enron=enron.append(pd.DataFrame(data=datum_list,index=[i]))
    i+=1

In [9]:
enron

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,name,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,600000,NaN,NaN,NaN,mark.metts@enron.com,NaN,94299,29,38,1,...,METTS MARK,1740,0,585062,NaN,365788,702,807,1061827,585062
1,1200000,1295738,-1386055,NaN,NaN,6680544,11200,NaN,NaN,NaN,...,BAXTER JOHN C,2660303,0,3942714,NaN,267102,NaN,NaN,5634343,10623258
2,350000,NaN,-400729,NaN,steven.elliott@enron.com,4890344,78552,NaN,NaN,NaN,...,ELLIOTT STEVEN,12961,0,1788391,NaN,170941,NaN,NaN,211725,6678735
3,NaN,NaN,NaN,NaN,bill.cordes@enron.com,651850,NaN,12,10,0,...,CORDES WILLIAM R,NaN,0,386335,NaN,NaN,58,764,NaN,1038185
4,1500000,NaN,-3117011,NaN,kevin.hannon@enron.com,5538001,34039,32,32,21,...,HANNON KEVIN P,11350,1,853064,NaN,243293,1035,1045,288682,6391065
5,325000,NaN,NaN,NaN,kristina.mordaunt@enron.com,NaN,35018,NaN,NaN,NaN,...,MORDAUNT KRISTINA M,1411,0,208510,NaN,267093,NaN,NaN,628522,208510
6,NaN,1848227,NaN,NaN,rockford.meyer@enron.com,493489,NaN,28,0,0,...,MEYER ROCKFORD G,NaN,0,462384,NaN,NaN,22,232,1848227,955873
7,2600000,NaN,NaN,NaN,jeffrey.mcmahon@enron.com,1104054,137108,48,58,26,...,MCMAHON JEFFREY,297353,0,558801,NaN,370448,2228,2355,4099771,1662855
8,NaN,3131860,NaN,NaN,stanley.horton@enron.com,5210569,NaN,1073,44,15,...,HORTON STANLEY C,NaN,0,2046079,NaN,NaN,1074,2350,3131860,7256648
9,400000,1130036,-33333,NaN,greg.piper@enron.com,880290,43057,222,61,48,...,PIPER GREGORY F,778,0,409554,-409554,197091,742,1238,1737629,880290
10,NaN,2964506,NaN,NaN,gene.humphrey@enron.com,2282768,4994,17,10,17,...,HUMPHREY GENE E,NaN,0,NaN,NaN,130724,119,128,3100224,2282768
11,788750,NaN,NaN,NaN,adam.umanoff@enron.com,NaN,53122,18,12,0,...,UMANOFF ADAM S,NaN,0,NaN,NaN,288589,41,111,1130461,NaN
12,850000,NaN,NaN,NaN,jeremy.blachman@enron.com,765313,84208,14,25,2,...,BLACHMAN JEREMY M,272,0,189041,NaN,248546,2326,2475,2014835,954354
13,700000,NaN,NaN,NaN,marty.sunde@enron.com,NaN,NaN,38,37,13,...,SUNDE MARTIN,111122,0,698920,NaN,257486,2565,2647,1545059,698920
14,NaN,504610,NaN,NaN,dana.gibbs@enron.com,2218275,NaN,12,0,0,...,GIBBS DANA R,NaN,0,NaN,NaN,NaN,23,169,966522,2218275
15,NaN,NaN,NaN,NaN,NaN,372205,NaN,NaN,NaN,NaN,...,LOWRY CHARLES P,NaN,0,153686,-153686,NaN,NaN,NaN,NaN,372205
16,1200000,27610,-144062,NaN,wes.colwell@enron.com,NaN,16514,40,240,11,...,COLWELL WESLEY,101740,1,698242,NaN,288542,1132,1758,1490344,698242
17,1100000,842924,-719000,NaN,s..muller@enron.com,1056320,NaN,16,12,0,...,MULLER MARK S,947,0,360528,NaN,251654,114,136,3202070,1416848
18,250000,NaN,NaN,NaN,charlene.jackson@enron.com,185063,10181,56,25,19,...,JACKSON CHARLENE R,2435,0,540672,NaN,288558,117,258,551174,725735
19,NaN,NaN,-10800,NaN,dick.westfahl@enron.com,NaN,51870,NaN,NaN,NaN,...,WESTFAHL RICHARD K,401130,0,384930,NaN,63744,NaN,NaN,762135,384930
20,NaN,53625,NaN,NaN,NaN,1030329,33785,NaN,NaN,NaN,...,WALTERS GARETH W,NaN,0,NaN,NaN,NaN,NaN,NaN,87410,1030329
21,850000,NaN,NaN,NaN,rob.walls@enron.com,4346544,50936,146,17,0,...,WALLS JR ROBERT H,2,0,1552453,NaN,357091,215,671,1798780,5898997
22,3100000,NaN,NaN,NaN,louise.kitchen@enron.com,81042,5774,1728,251,194,...,KITCHEN LOUISE,93925,0,466101,NaN,271442,3669,8305,3471141,547143
23,NaN,NaN,-98784,98784,NaN,NaN,NaN,NaN,NaN,NaN,...,CHAN RONNIE,NaN,0,32460,-32460,NaN,NaN,NaN,NaN,NaN
24,NaN,-102500,NaN,3285,NaN,3285,NaN,NaN,NaN,NaN,...,BELFER ROBERT,NaN,0,NaN,44093,NaN,NaN,NaN,102500,-44093
25,2000000,NaN,NaN,NaN,jeffrey.shankman@enron.com,1441898,178979,2681,94,83,...,SHANKMAN JEFFREY A,1191,0,630137,NaN,304110,1730,3221,3038702,2072035
26,NaN,NaN,NaN,NaN,john.wodraska@enron.com,NaN,NaN,NaN,NaN,NaN,...,WODRASKA JOHN,189583,0,NaN,NaN,NaN,NaN,NaN,189583,NaN
27,250000,NaN,-485813,NaN,rick.bergsieker@enron.com,NaN,59175,59,4,0,...,BERGSIEKER RICHARD P,427316,0,659249,NaN,187922,233,383,618850,659249
28,NaN,NaN,-36666,36666,NaN,NaN,228656,NaN,NaN,NaN,...,URQUHART JOHN A,NaN,0,NaN,NaN,NaN,NaN,NaN,228656,NaN
29,1000000,NaN,NaN,NaN,philippe.bibi@enron.com,1465734,38559,40,23,8,...,BIBI PHILIPPE A,425688,0,378082,NaN,213625,1336,1607,2047593,1843816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,100000,51365,-200000,NaN,NaN,4160672,8409,NaN,NaN,NaN,...,REYNOLDS LAWRENCE,202052,0,201483,-140264,76399,NaN,NaN,394475,4221891
115,1000000,NaN,NaN,NaN,richard.dimichele@enron.com,8191755,35812,NaN,NaN,NaN,...,DIMICHELE RICHARD G,374689,0,126027,NaN,262788,NaN,NaN,2368151,8317782
116,NaN,NaN,NaN,137864,sanjay.bhatnagar@enron.com,2604490,NaN,29,0,1,...,BHATNAGAR SANJAY,137864,0,-2604490,15456290,NaN,463,523,15456290,NaN
117,300000,NaN,-159792,NaN,rebecca.carter@enron.com,NaN,NaN,15,29,7,...,CARTER REBECCA C,540,0,307301,-307301,261809,196,312,477557,NaN
118,500000,NaN,NaN,NaN,john.buchanan@enron.com,825464,600,125,0,0,...,BUCHANAN HAROLD G,1215,0,189041,NaN,248017,23,1088,1054637,1014505
119,NaN,NaN,NaN,NaN,NaN,192758,55097,NaN,NaN,NaN,...,YEAP SOON,NaN,0,NaN,NaN,NaN,NaN,NaN,55097,192758
120,400000,NaN,NaN,NaN,julia.murray@enron.com,400478,57580,45,11,2,...,MURRAY JULIA H,330,0,196983,NaN,229284,395,2192,812194,597461
121,850000,NaN,NaN,NaN,kevin.garland@enron.com,636246,48405,44,10,27,...,GARLAND C KEVIN,60814,0,259907,NaN,231946,178,209,1566469,896153
122,70000,NaN,NaN,NaN,keith.dodson@enron.com,NaN,28164,14,10,3,...,DODSON KEITH,774,0,NaN,NaN,221003,114,176,319941,NaN
123,NaN,NaN,NaN,NaN,scott.yeager@enron.com,8308552,53947,NaN,NaN,NaN,...,YEAGER F SCOTT,147950,1,3576206,NaN,158403,NaN,NaN,360300,11884758
124,NaN,10259,NaN,NaN,joe.hirko@enron.com,30766064,77978,NaN,NaN,NaN,...,HIRKO JOSEPH,2856,1,NaN,NaN,NaN,NaN,NaN,91093,30766064
125,600000,NaN,NaN,NaN,janet.dietrich@enron.com,1550019,3475,63,305,14,...,DIETRICH JANET R,473,0,315068,NaN,250100,1902,2572,1410464,1865087
126,800000,NaN,-1284000,NaN,james.derrick@enron.com,8831913,51124,909,64,20,...,DERRICK JR. JAMES V,7482,0,1787380,-1787380,492375,1401,2181,550981,8831913
127,2000000,6426990,-3367011,NaN,mark.frevert@enron.com,10433518,86987,21,242,6,...,FREVERT MARK A,7427621,0,4188667,NaN,1060932,2979,3275,17252530,14622185
128,1000000,NaN,NaN,NaN,lou.pai@enron.com,15364167,32047,NaN,NaN,NaN,...,PAI LOU L,1829457,0,8453763,NaN,261879,NaN,NaN,3123383,23817930
129,400000,260455,-201641,NaN,frank.bay@enron.com,NaN,129142,NaN,NaN,NaN,...,BAY FRANKLIN R,69,0,145796,-82782,239671,NaN,NaN,827696,63014
130,NaN,NaN,NaN,NaN,rod.hayslett@enron.com,NaN,NaN,1061,35,38,...,HAYSLETT RODERICK J,NaN,0,346663,NaN,NaN,571,2649,NaN,346663
131,NaN,50591,NaN,NaN,NaN,176378,NaN,NaN,NaN,NaN,...,FUGH JOHN L,NaN,0,NaN,NaN,NaN,NaN,NaN,50591,176378
132,2500000,NaN,NaN,NaN,jim.fallon@enron.com,940257,95924,75,42,37,...,FALLON JAMES B,401481,0,1392142,NaN,304588,1604,1755,3676340,2332399
133,700000,NaN,NaN,NaN,mark.koenig@enron.com,671737,127017,61,53,15,...,KOENIG MARK E,150458,1,1248318,NaN,309946,2271,2374,1587421,1920055
134,NaN,NaN,-121284,125034,NaN,NaN,NaN,NaN,NaN,NaN,...,SAVAGE FRANK,NaN,0,NaN,NaN,NaN,NaN,NaN,3750,NaN
135,NaN,NaN,NaN,NaN,larry.izzo@enron.com,2165172,28093,19,28,5,...,IZZO LAWRENCE L,1553729,0,3654808,NaN,85274,437,496,1979596,5819980
136,300000,NaN,-575000,NaN,elizabeth.tilney@enron.com,591250,NaN,19,10,11,...,TILNEY ELIZABETH A,152055,0,576792,NaN,247338,379,460,399393,1168042
137,NaN,85430,NaN,NaN,a..martin@enron.com,2070306,8211,230,8,0,...,MARTIN AMANDA K,2818454,0,NaN,NaN,349487,477,1522,8407016,2070306
138,900000,649584,-694862,NaN,rick.buy@enron.com,2542813,NaN,1053,156,71,...,BUY RICHARD B,400572,0,901657,NaN,330546,2333,3523,2355702,3444470
139,NaN,NaN,NaN,119292,NaN,NaN,NaN,NaN,NaN,NaN,...,GRAMM WENDY L,NaN,0,NaN,NaN,NaN,NaN,NaN,119292,NaN
140,1000000,NaN,-235000,NaN,richard.causey@enron.com,NaN,30674,49,58,12,...,CAUSEY RICHARD A,307895,1,2502063,NaN,415189,1585,1892,1868758,2502063
141,600000,227449,NaN,NaN,mitchell.taylor@enron.com,3181250,NaN,29,0,0,...,TAYLOR MITCHELL S,NaN,0,563798,NaN,265214,300,533,1092663,3745048
142,800000,NaN,-300000,NaN,jeff.donahue@enron.com,765920,96268,22,188,11,...,DONAHUE JR JEFFREY M,891,0,315068,NaN,278601,772,865,875760,1080988
143,600000,NaN,NaN,NaN,ben.glisan@enron.com,384728,125978,16,52,6,...,GLISAN JR BEN F,200308,1,393818,NaN,274975,874,873,1272284,778546

In [36]:
enron_no_outliers=enron.copy()
enron_outliers=enron.copy()

for column in enron.loc[:,(enron.dtypes == np.float64)]:
    outliers = np.abs(enron[column])>np.abs(enron[column]).quantile(0.9)
    mean_no_outliers = enron[~outliers][column].mean()
    enron_no_outliers.loc[outliers,(column)]=mean_no_outliers
    enron_outliers.loc[~outliers,(column)]=0

In [40]:
enron_no_outliers[enron["poi"]==1.]["deferred_income"].plot(kind='hist', alpha=0.5, bins=60)
enron_no_outliers[enron["poi"]==0.]["deferred_income"].plot(kind='hist', alpha=0.5, bins=60)
plt.legend(["poi","non_poi"])
plt.ylabel("Frequency")
plt.title("deferred_income")
plt.show()
plt.figure()
enron_no_outliers[enron["poi"]==1.]["other"].plot(kind='hist', alpha=0.5, bins=60)
enron_no_outliers[enron["poi"]==0.]["other"].plot(kind='hist', alpha=0.5, bins=60)
plt.legend(["poi","non_poi"])
plt.ylabel("Frequency")
plt.title("other")
plt.show()
plt.figure()
enron_no_outliers[enron["poi"]==1.]["expenses"].plot(kind='hist', alpha=0.5, bins=60)
enron_no_outliers[enron["poi"]==0.]["expenses"].plot(kind='hist', alpha=0.5, bins=60)
plt.legend(["poi","non_poi"])
plt.ylabel("Frequency")
plt.title("expenses")
plt.show()
plt.figure()
enron_no_outliers[enron["poi"]==1.]["exercised_stock_options"].plot(kind='hist', alpha=0.5, bins=60)
enron_no_outliers[enron["poi"]==0.]["exercised_stock_options"].plot(kind='hist', alpha=0.5, bins=60)
plt.legend(["poi","non_poi"])
plt.ylabel("Frequency")
plt.title("exercised_stock_options")
plt.show()
plt.figure()
enron_no_outliers[enron["poi"]==1.]["long_term_incentive"].plot(kind='hist', alpha=0.5, bins=60)
enron_no_outliers[enron["poi"]==0.]["long_term_incentive"].plot(kind='hist', alpha=0.5, bins=60)
plt.legend(["poi","non_poi"])
plt.ylabel("Frequency")
plt.title("long_term_incentive")
plt.show()
plt.figure()
enron_no_outliers[enron["poi"]==1.]["bonus"].plot(kind='hist', alpha=0.5, bins=60)
enron_no_outliers[enron["poi"]==0.]["bonus"].plot(kind='hist', alpha=0.5, bins=60)
plt.legend(["poi","non_poi"])
plt.ylabel("Frequency")
plt.title("bonus")
plt.show()
plt.figure()
enron_no_outliers[enron["poi"]==1.]["salary"].plot(kind='hist', alpha=0.5, bins=60)
enron_no_outliers[enron["poi"]==0.]["salary"].plot(kind='hist', alpha=0.5, bins=60)
plt.legend(["poi","non_poi"])
plt.ylabel("Frequency")
plt.title("salary")
plt.show()